* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
}

.filtro, .edadPromedio, .filtroColumnas * {
    display: inline-block;
    margin-top: 10px;
}

table, .cabeceraTabla *{
    border: 1px solid #282A35;
    border-collapse: collapse;
    background: gainsboro;
    padding: 10px;
    width: auto;
}

.cabeceraTabla {
    cursor: pointer;
}

.cuerpoTabla * {
    padding: 8px;
    background: #e8edff;
    border: 1px solid #000; 
    font-size: 12px;
}

.formABM {
    display: none;
    width: 25%;
    align-items: flex-start;
    flex-direction: column;
    padding:16px;
    margin: 10px;
    border-radius:4px;
    background-color:#dde0ea;
}

.inputVillano {
    display: none;
}

.botones{
    cursor: pointer;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 2mm;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
    height: 25px;
}